### Pandas NoteBook Made By Abdelmalek Hissous

In [1]:
# Import The Library
import pandas as pd

### DataFrames

In [3]:
# Creating a DataFrame
pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})

   a  b
0  1  4
1  2  5
2  3  6

In [4]:
# Changing the Index of rows to a custom one
pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]},index=['Hello','There','Malek'])

       a  b
Hello  1  4
There  2  5
Malek  3  6

### Series

In [5]:
# Series is just a list
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [6]:
# Changing Index and Name
pd.Series([4,5,6],index=['Sales1','Sales2','Sales3'],name='Xbox')

Sales1    4
Sales2    5
Sales3    6
Name: Xbox, dtype: int64

In [21]:
# Reading CSV Files
File = pd.read_csv('../Pandas/openpowerlifting.csv')
File.head() # Display first 5 rows

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47

In [30]:
# Exporting CSV Files
File.to_csv("NewCsv.csv")

### Accessing Data

In [23]:
# First Methode
File.Name

0         Angie Belk Terry
1              Dawn Bogart
2              Dawn Bogart
3              Dawn Bogart
4             Destiny Dula
                ...
386409     William Barabas
386410        Justin Zottl
386411       Jake Anderson
386412      Jeff Bumanglag
386413       Shane Hammock
Name: Name, Length: 386414, dtype: object

In [25]:
# Second Methode
File["Name"][0]

'Angie Belk Terry'

In [27]:
# iloc ( get data by row can get col as well (index) )
File.iloc[0]

MeetID                           0
Name              Angie Belk Terry
Sex                              F
Equipment                    Wraps
Age                           47.0
Division                 Mst 45-49
BodyweightKg                  59.6
WeightClassKg                   60
Squat4Kg                       NaN
BestSquatKg                  47.63
Bench4Kg                       NaN
BestBenchKg                  20.41
Deadlift4Kg                    NaN
BestDeadliftKg               70.31
TotalKg                     138.35
Place                            1
Wilks                       155.05
Name: 0, dtype: object

In [29]:
# loc ( same as before (label) )
File.loc[0,['Name',"Age"]]

Name    Angie Belk Terry
Age                 47.0
Name: 0, dtype: object

- Keep in mind that iloc is exclusive while loc is not

- There Exist as well conditionals same as nump where you can display only the satisfied condition lables

In [37]:
# Example
example = File.Age[File.Age <10]
example

817       7.0
935       9.0
1018      5.0
2056      8.0
2167      8.0
         ...
335042    9.0
357266    9.0
372840    6.0
381297    9.0
381378    9.0
Name: Age, Length: 121, dtype: float64